<main class="lista-vacantes">
    <h2>Navegación</h2>
    <div class="botones separador">
        <a href="/edit-profile" class="btn btn-azul">Editar Perfil</a>
        <a href="/vacantes/new" class="btn btn-azul">Agregar vacante</a>
    </div>
</main>