<main class="contenedor">
    <form action="/signup" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre: </label>
            <input type="text" name="name" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label>Email: </label>
            <input type="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo">
            <label>Password: </label>
            <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo">
            <label>Repita su password: </label>
            <input type="password" name="confirmPassword" placeholder="Repita su password">
        </div>
        <div class="campo acciones">
            <a href="/login">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>