<main class="contenedor">
    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Ingrese su email" required />
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Ingrese su password" required />
        </div>
        <div class="campo acciones">
            <a href="/signup">Crear una cuenta</a>
            <a href="/restore-password">¿Has olvidado tu contraseña?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul">
        </div>
    </form>
</main>