<main class="contenedor">
    <form action="/restore-password" method="post" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="campo acciones">
            <a href="/login">Volver a iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Restablecer contraseña">
        </div>
    </form>
</main>